{% extends "assets/header.html" %} {% block dashbord %}
<div class="container py-4">
    <div class="p-5 mb-4 text-white bg-body-tertiary border rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Summery</h1>
            <p class="col-md-8 fs-4">
                In This state show you how many send Resume: {{ numOfResume }}
            </p>
            <button class="btn btn-primary btn-lg" type="button">
                <a href="/worker/jobs/">Send More</a>
            </button>
        </div>
    </div>

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-body-tertiary border rounded-3">
                <h2>How improve resume</h2>
                <p>
                    If you are like me rejected from everywhere see this link.
                </p>
                <button class="btn btn-outline-light" type="button">
                    <a
                        href="https://www.coursera.org/articles/ways-to-enhance-your-resume"
                    >
                        Improve Resume
                    </a>
                </button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-body-tertiary border rounded-3">
                <h2>Use AI for Improve Resume</h2>
                <p>Use this ai tools for improve resume!</p>
                <button class="btn btn-outline-light" type="button">
                    <a href="https://www.kickresume.com/en/ai-resume-rewrite/">
                        Ai Link
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock dashbord %}
