{% extends "assets/header.html" %} {% block dashbord %}
<div class="container py-4">
    <table class="table p-5 mb-4 text-white table-striped table-dark rounded-3">
        <thead>
            <tr>
                <th scope="col">Job Name</th>
                <th scope="col">Detail</th>
                <th scope="col">Tags</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
            <tr>
                <td>{{ job.job_name }}</td>
                <td>{{ job.detail }}</td>
                <td>{{ job.tag }}</td>
                <td><a href="/worker/jobs/{{ job.pk }}">Send</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li 
                    {% if message.tags == "error" %} 
                        class="alert alert-danger"
                    {% else %}
                        class="alert alert-success"
                    {% endif %}
                    >
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock dashbord %}
